*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #00008bcd;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .loader{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.loader .laoding{
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.8s ease infinite;
}
.loader .laoding.one{
    animation-delay: 0.3s
}
.loader .laoding.two{
    animation-delay: 0.4s
}
.loader .laoding.three{
    animation-delay: 0.5s
}
@keyframes load{
    0%{
        width: 30px;
        height: 30px
    }
    50%{
        width: 20px;
        height: 20px
    }
}